@{
    ViewBag.Title = "Crèdits";
}
<h2>@ViewBag.Title.</h2>


<img src="~/Imatges/BICI.jpg" />
<h3>Autor: Xavier Serentill</h3>

<p>Aplicació que conté dos bases de dades (Pel·lícules i Clients)</p>
